.league-select-button {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);

  border-radius: 10px;
  height: 250px;

  cursor: pointer;
}

.league-select-text {
  position: relative;
  top: 10px;
  left: 10px;
}
