.titleText {
    align-self: center;
    font-family: 'inter';
    font-weight: "bold";
    font-size: calc(0.7em + 1vw);
    color: #9146D8;
}

.searchBox {
    align-self: center;
}

.listFeed {
    align-self: center;
}