.courtPicture {
    position: absolute;
    z-index: 3;
    left: -6.4%;
    top: 4%;
}

.scrollToReadMore {
    z-index: 4;
    color: white;
    font-family: 'inter';
    font-weight: 200;
    font-size: 160%;
}

.downArrow1 {
    width: 8%;
}

.downArrow2 {
    width: 8%;
}